{% block header %}
<img src="{{ asset('images/mytaskssecure.png') }}" alt="logo">
<nav>
<ul>
        <ul>
            <li><a class="{{ page == "home" ? "bold" : "" }}" href='/'>Home</a></li>
            {% if (app.user) %}
            <li><a class="{{ page == "tasks" ? "bold" : "" }}" href='/tasks'>Tasks</a></li>
            {% else %}
            <li><a class="{{ page == "register" ? "bold" : "" }}" href='/register'>Register</a></li>
            {% endif %}
            {% if (app.user) %}
            <li><a class="{{ page == "account" ? "bold" : "" }}" href='/account'>{{ app.user.username }}</a> <img id="profilePicNav" src='{{ app.user.image | default('') }}' alt='Profile picture'></li>
            {% else %}
            <li><a class="{{ page == "login" ? "bold" : "" }}" href='/login'>Login</a></li>
            {% endif %}
        </ul>
</ul>
</nav>
{% endblock %}
